#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
h1 {
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 20px;
}

h3 {
  font-size: medium;
}
footer {
  text-align: center;
  margin-top: 70px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(241, 235, 235);
  border-radius: 10px;
  background-color: rgb(228 222 188);
  padding: 4px;
  font-family: "Roboto slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
a {
  color: #004ab7;
  text-decoration: none;
}
.container {
  position: relative;
  font-family: "Hahmlet", serif;
  max-width: 700px;
}

.enter-city,
.btn {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 45px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.enter-city {
  border: 2px solid black;
  border-radius: 20px;
}
.outer-box-frame {
  border: 8px solid #383737;
  margin: 4rem auto;
  padding: 3rem;
  background-image: linear-gradient(
      100deg,
      rgba(176, 220, 203, 0.4),
      rgba(224, 226, 230, 0.4)
    ),
    url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.weather-forecast {
  margin-top: 100px;
  margin-bottom: 90px;
  margin-right: 20px;
  color: rgb(15, 16, 18);
  font-weight: bold;
  text-align: center;
}
.today-temperature {
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.c-temp,
.f-temp {
  font-size: 25px;
  position: relative;
  top: -7px;
}
.weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather .active:hover {
  text-decoration: none;
}
.weather-forecast-temp-max,
.weather-forecast-temp-min {
  font-size: 15px;
  opacity: 0.7;
}
